<table>
  <thead>
    <tr>
      <td>\(P(X,Y)\)</td>
      <td *ngFor="let x of dataRows[0]; index as i">
        X_{{ i + 1 }} = <input [value]="X[i]" />
      </td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of dataRows; index as j">
      <td>Y_{{ j + 1 }} = <input [value]="Y[j]" /></td>
      <td *ngFor="let x of row; index as k; trackBy: trackByFn">
        <input
          [value]="x"
          (input)="onValueChange(k, j, $event.target.value, $event.target)"
        />
      </td>
    </tr>
  </tbody>
</table>

<p>
  <button (click)="addX()">Zwiększ liczbę parametrów X</button>
  <button (click)="subX()">Zmniejsz liczbę parametrów X</button>
</p>
<p>
  <button (click)="addY()">Zwiększ liczbę parametrów Y</button>
  <button (click)="subY()">Zmniejsz liczbę parametrów Y</button>
</p>

<p><button (click)="generate()">Generuj</button></p>

<div *ngIf="isGenerated">
  <ol>
    <li>Wyznacz rozkłady brzegowe zmiennych X i Y.</li>
    <div>
      <p>Rozkład brzegowy X:</p>
      <table>
        <thead>
          <tr>
            <td></td>
            <td *ngFor="let x of dataRows[0]; index as i">
              X_{{ i + 1 }} = {{ X[i] }}
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>P(X=X_i)=p_i</td>
            <td *ngFor="let px of PX">{{ px }}</td>
          </tr>
        </tbody>
      </table>
      <p>Rozkład brzegowy Y:</p>
      <table>
        <thead>
          <tr>
            <td></td>
            <td *ngFor="let y of dataRows; index as i">
              Y_{{ i + 1 }} = {{ Y[i] }}
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>P(Y=Y_i)=p_i</td>
            <td *ngFor="let py of PY">{{ py }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <li>Oblicz wartości oczekiwane zmiennych X i Y.</li>
    <div>
      <p>
        Wartości oczekiwane obliczamy ze wzorów $EX = \sum_i X_ip_i$ oraz
        $EY=\sum_j Y_jp_j$.
      </p>

      <p>EX = {{ EX }}</p>
      <p>EY = {{ EY }}</p>
    </div>
    <li>Oblicz wariancje i odchylenia standardowe zmiennych X i Y .</li>

    <p>
      Aby obliczyć wariancję $Var X = \sigma^2$ oraz odchylenie standardowe
      $\sigma = \sqrt{{'{'}}Var X{{'}'}}$, potrzebujemy wartości $EX^2 = \sum_i X_i^2p_i$.
    </p>

    <p>EX^2 = {{EX2}}</p>
    <p>EY^2 = {{EY2}}</p>

    <li>Sprawdź, czy zmienne X i Y są niezależne.</li>
    <li>
      Sprawdź, czy zmienne X i Y są skorelowane. Jeśli tak, to w jakim stopniu?
    </li>
    <li>Wyznacz rozkład zmiennej Z = X + Y .</li>
    <li>Wyznacz wartość srednią i wariancję zmiennej X + 2Y .</li>
    <li>Wyznacz funkcję prawdopodobienstwa W = XY.</li>
  </ol>
</div>
