body {
    background-image: url('./assets/background.png');
    background-size: cover;
}

.main-element {
    background: #eeeeeee6;
    color: #333;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}


input {
    background: #eeeeee;
}

table {
    background: #eeeeee;
}

@media(max-width:576px) {
    .main-element {
        overflow-x: visible;
    }

    body {
        background: #eeeeeee6;
        background-image: none;
        background-color: white;
    }
}
