body{
    background-image: url('./assets/background.png');
    background-attachment: fixed;
}

.main-element{
    background: #eeeeeee6;
    color:#333;
    overflow-x:auto;
    height:100%;
}

input{
    background: #eeeeee;
}

table{
    background:#eeeeee;
}